<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lew.dao.StudentDao">
    <sql id="Base_Column_List">
        t_stu.id t_stu_id,
        t_stu.name t_stu_name,
        t_stu.avg_score t_stu_avg_score,
        t_stu.created_time t_stu_created_time,
        t_stu.updated_time t_stu_updated_time,
        t_stu.role_range t_stu_role_range
    </sql>
    <sql id="Teacher_Column_List">
        t_tea.id t_tea_id,
        t_tea.name t_tea_name,
        t_tea.created_time t_tea_created_time,
        t_tea.updated_time t_tea_updated_time
    </sql>
    <insert id="checkAndCreateStu">
        INSERT INTO t_student (`id`,`name`, `avg_score`, `role_type`)
        SELECT #{student.id}, #{student.name}, #{student.avgScore}, #{student.roleType.value}
        <where>
            <choose>
                <when test="student.roleType.value == 0">
                    (SELECT count(id) from t_student where name = #{student.name}) &lt; #{maxStuInsertNum} and
                    NOT EXISTS (SELECT `id` from t_student where role_type = #{student.roleType.value})
                </when>
                <otherwise>
                    (SELECT count(id) from t_student where name = #{student.name}) &lt; #{maxStuInsertNum}
                </otherwise>
            </choose>
        </where>
    </insert>

    <!-- 根据id查询 -->
    <select id="getStuDetailById" resultMap="detailResultMap">
        SELECT
        <include refid="Base_Column_List"/>,
        <include refid="Teacher_Column_List"/>
        FROM t_student t_stu
        LEFT JOIN t_student_teacher_relation t_stu_tea ON t_stu_tea.stu_id=t_stu.id
        LEFT JOIN t_teacher t_tea ON t_tea.id=t_stu_tea.tea_id
        WHERE t_stu.id = #{id}
    </select>

    <resultMap id="detailResultMap" type="com.lew.model.Student">
        <id property="id" column="t_stu_id"/>
        <result property="name" column="t_stu_name"/>
        <result property="avgScore" column="t_stu_avg_score"/>
        <result property="createdTime" column="t_stu_created_time"/>
        <result property="updatedTime" column="t_stu_updated_time"/>
        <result property="roleRange" column="t_stu_role_range"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <collection property="teachers" ofType="com.lew.model.Teacher">
            <id property="id" column="t_tea_id"/>
            <result property="name" column="t_tea_name"/>
            <result property="createdTime" column="t_tea_created_time"/>
            <result property="updatedTime" column="t_tea_updated_time"/>
        </collection>
    </resultMap>

    <select id="selectOneById" resultMap="detailResultMap">
        SELECT <include refid="Base_Column_List"/> FROM t_student t_stu WHERE t_stu.id=#{id}
    </select>
</mapper>
